{:mvn/repos
 {"my.datomic.com" {:url "https://my.datomic.com/repo"}
  "clojars.org" {:url "https://clojars.org/repo"}}
 :deps
 {com.datomic/client-pro {:mvn/version "0.9.41"}
  clj-time {:mvn/version "0.15.2"}}}
